<div class="bodyPad">

  <div class="mainPad">
    <div class="headPad">
      <div class="m-2 text-white">
        <div class="text-center text-xl">用户注册</div>
      </div>
    </div>
    <form>
      <div class="flex text-center gap-0 my-3">

        <div class="flex w-18 text-base text-center" >
          手机号码：
        </div>
        <div class="flex-none w-3/4 text-right">
          <input class="w-full" type="phonenum" placeholder="手机号码">
        </div>
      </div>
      <div class="flex text-center gap-0 my-3">
        <div class="flex w-18 text-base text-center" >
          &nbsp;&nbsp;&nbsp;密码：&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="flex-none w-3/4 text-right">
          <input class="w-full" type="password" placeholder="密码：" [(ngModel)]="password" name="password">
        </div>
      </div>
      <div class="flex text-center gap-0 my-3">

        <div class="flex w-18 text-base text-center" >
          确认密码：
        </div>
        <div class="flex-none w-3/4 text-right">
          <input class="w-full" type="password" placeholder="确认密码" [(ngModel)]="password1" name="password1">
        </div>
      </div>
      <div class="flex text-center gap-0 my-3">

        <div class="flex w-18 text-base text-center" >
          用户姓名：
        </div>
        <div class="flex-none w-3/4 text-right">
          <input class="w-full" type="text" placeholder="用户姓名" [(ngModel)]="username" name="username">
        </div>
      </div>
      <div class="flex text-center gap-0 my-3">

        <div class="flex w-18 text-base text-center" >
          &nbsp;&nbsp;&nbsp;性别：&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="flex-none w-3/4 text-left">
          <input type="radio" name="boy" [(ngModel)]="sex" value=true>男
          <input type="radio" name="girl"[(ngModel)]="sex" value=false>女
        </div>
      </div>
      <div>{{inf}}</div>
      <span ></span>
      <div class="buttonPad m-2 flex flex-row" >
        <a class="btn btn-full btn-green  text-xl" (click)="register()">
          <i class="fas fa-sign-in-alt"></i>
          注册
        </a>
      </div>
    </form>
  </div>
</div>
